html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(255, 255, 102);
}

/*display's*/
.db {
  display: block;
}


/*floats*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}


.h100px {
  height: 100px;
}

.w100px {
  width: 100px;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.pb75 {
  padding-bottom: 75%;
}

.bg-g {
  background-color: rgb(178, 176, 54);
}

.tac {
  text-align: center;
}

.pt30px {
  padding-top: 30px;
}

.cr {
  color: rgb(178, 63, 67)
}

.bg-b {
  background-color: rgb(128, 208, 255);
}

.bg-w {
  background-color: rgb(255, 255, 255);
}

.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}
