<!DOCTYPE html>
<html>
<head>
  <title>Kosolv</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
